
/* 
 * ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~  
 *  
 *                  GLOBAL - All sizes
 *
 * ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 */

[ng\:cloak], [ng-cloak], .ng-cloak { display: none; }

html, body {
	height:100%;
	background-color: #BFBFBF;
}

.headerfix {
    height: 50px; /* navbar height, required to clear the header*/
}

/* Wrapper to enforce sticky footer */
#wrap {
  min-height: 100%;
  height: auto;
  margin: 0 auto -40px;
}

#ngViewContainer {
    height: 100%;
    width: 100%;
}

/* Header Logo Image */
.navbar-brand img {
    margin-top: -6px;
}

/* Search Button */
div>.btn-search {
    margin-top: 6px;
    font-size: 22px;
    border-width: 0;
}

.btn-search, .btn-search:focus, .btn-search:active, div>.btn-search:hover {
    background-color: #222222;
    border-color: #999999;
    color: #FFFFFF;
    outline: none;
}
.btn-search:hover {
    background-color: #444444;
    color: #FFFFFF;
}

/* Search Form */
.navbar-form {
    padding-right: 0;
}

/* Carousel items */
.carousel-inner .item img {
	width: 100%;
}

/* Content item lists */
.content-list {
	margin-top: 20px;
    padding-bottom: 80px;
}
.content-list img {
    width: 100%;
}
.content-list h4 a {
    text-decoration: none;
    color: #000000;
}
.content-list h4 a:hover {
    text-decoration: underline;
}
.content-list .title {
    background-color: #A1A1A1;
    margin-top: 0;
    padding: 6px;
} 
.content-list .row > div a {
    color: #000000;
}
.content-list .row > div a:hover {
    text-decoration: none;
}
.content-list .row > div a:hover h5 {
    background-color: #464646;
    color: #FFFFFF;
}

.inline-block {
    display: inline-block !important;
}

/*
 * Reduce innner padding of column items 
 */  
.content-list div[class^="col"] {
    padding-left: 5px; 
    padding-right: 5px;
}
.content-list {
    padding-left: 10px;
    padding-right: 10px;
}
.content-list .row {
    margin-left: -5px;
    margin-right: -5px;
    margin-bottom: 30px;
}    

/*
 * Footer
 */
footer {
    padding: 10px 0 0 0;
    width: 100%;
    height: 40px;
    color: #FFFFFF;
    background: #464646;
}

 /* 
  * ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~  
  *  
  *                  MOBILE - (xs) 767px
  *
  * ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
  */
@media (max-width: 767px) {

    /*
     * Horizontally center brand logo
     */    
    .navbar-header {
        float: left;
        text-align: center;
        width: 100%;
    }
    .navbar-brand {
        float: none;
        display: inline-block;
    }
}

 /* 
  * ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~  
  *  
  *                  MEDIUM DESKTOP - (md) 992px
  *
  * ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
  */
@media (max-width: 992px) {

    /* 
     * Our header menu is particularly large, so we want to collapse
     * it for anything below this size.
     */    
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
        display:block !important;
    }
}


 /* 
  * ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~  
  *  
  *                  ITEM PAGE
  *
  * ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
  */
.page-content {
    padding-top: 50px;
    padding-bottom: 80px;
    min-height: 100%; 
}

.item-view .row img {
    width: 100%;
}

@media (min-width: 992px) {

    /* Vertical align header when it's adjacent to image */
    .item-view h1 {
        margin-top: 0;
    }
}


