<div id="heroCarousel" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#heroCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#heroCarousel" data-slide-to="1"></li>
    <li data-target="#heroCarousel" data-slide-to="2"></li>
    <li data-target="#heroCarousel" data-slide-to="3"></li>
  </ol>
  <div class="carousel-inner">
    <div class="item active">
      <picture>
        <!--[if IE 9]><video style="display: none;"><![endif]-->
        <source srcset="http://dummyimage.com/1600x533/707070, http://dummyimage.com/1600x533/707070&amp;text=3200+x+1066+(2x) 2x" media="(min-width: 1200px)">
        <source srcset="http://dummyimage.com/1200x400/707070, http://dummyimage.com/2400x800/707070&amp;text=2400+x+800+(2x) 2x" media="(min-width: 992px)">
        <source srcset="http://dummyimage.com/992x330/707070, http://dummyimage.com/1984x660/707070&amp;text=1984+x+660+(2x) 2x" media="(min-width: 768px)">
        <source srcset="http://dummyimage.com/768x256/707070, http://dummyimage.com/1536x512/707070&amp;text=1536+x+512+(2x) 2x" media="(min-width: 640px)">
        <source srcset="http://dummyimage.com/640x426/707070, http://dummyimage.com/1280x852/707070&amp;text=1280+x+852+(2x) 2x">
        <!--[if IE 9]></video><![endif]-->
        <img srcset="http://dummyimage.com/640x426/707070" alt="Hero Image">
      </picture>      
      <div class="carousel-caption hidden-xs">
        <h2 class="text-left">Show Name</h2>
        <p class="text-left">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam a urna in nunc vulputate rhoncus sed nec sem. Maecenas aliquam at nibh id tempus. Sed consequat quam eget turpis ornare pretium. Fusce mattis egestas pulvinar. Pellentesque et gravida nibh. </p>
      </div> 
    </div>
    <div class="item">
      <picture>
        <!--[if IE 9]><video style="display: none;"><![endif]-->
        <source srcset="http://dummyimage.com/1600x533/707070, http://dummyimage.com/1600x533/707070&amp;text=3200+x+1066+(2x) 2x" media="(min-width: 1200px)">
        <source srcset="http://dummyimage.com/1200x400/707070, http://dummyimage.com/2400x800/707070&amp;text=2400+x+800+(2x) 2x" media="(min-width: 992px)">
        <source srcset="http://dummyimage.com/992x330/707070, http://dummyimage.com/1984x660/707070&amp;text=1984+x+660+(2x) 2x" media="(min-width: 768px)">
        <source srcset="http://dummyimage.com/768x256/707070, http://dummyimage.com/1536x512/707070&amp;text=1536+x+512+(2x) 2x" media="(min-width: 640px)">
        <source srcset="http://dummyimage.com/640x426/707070, http://dummyimage.com/1280x852/707070&amp;text=1280+x+852+(2x) 2x">
        <!--[if IE 9]></video><![endif]-->
        <img srcset="http://dummyimage.com/640x426/707070" alt="Hero Image">
      </picture> 
      <div class="carousel-caption hidden-xs">
        <h2 class="text-left">Show Name</h2>
        <p class="text-left">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam a urna in nunc vulputate rhoncus sed nec sem. Maecenas aliquam at nibh id tempus. Sed consequat quam eget turpis ornare pretium. Fusce mattis egestas pulvinar. Pellentesque et gravida nibh. </p>
      </div> 
    </div>
    <div class="item">
      <picture>
        <!--[if IE 9]><video style="display: none;"><![endif]-->
        <source srcset="http://dummyimage.com/1600x533/707070, http://dummyimage.com/1600x533/707070&amp;text=3200+x+1066+(2x) 2x" media="(min-width: 1200px)">
        <source srcset="http://dummyimage.com/1200x400/707070, http://dummyimage.com/2400x800/707070&amp;text=2400+x+800+(2x) 2x" media="(min-width: 992px)">
        <source srcset="http://dummyimage.com/992x330/707070, http://dummyimage.com/1984x660/707070&amp;text=1984+x+660+(2x) 2x" media="(min-width: 768px)">
        <source srcset="http://dummyimage.com/768x256/707070, http://dummyimage.com/1536x512/707070&amp;text=1536+x+512+(2x) 2x" media="(min-width: 640px)">
        <source srcset="http://dummyimage.com/640x426/707070, http://dummyimage.com/1280x852/707070&amp;text=1280+x+852+(2x) 2x">
        <!--[if IE 9]></video><![endif]-->
        <img srcset="http://dummyimage.com/640x426/707070" alt="Hero Image">
      </picture> 
      <div class="carousel-caption hidden-xs">
        <h2 class="text-left">Show Name</h2>
        <p class="text-left">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam a urna in nunc vulputate rhoncus sed nec sem. Maecenas aliquam at nibh id tempus. Sed consequat quam eget turpis ornare pretium. Fusce mattis egestas pulvinar. Pellentesque et gravida nibh. </p>
      </div> 
    </div>    
    <div class="item">
      <picture>
        <!--[if IE 9]><video style="display: none;"><![endif]-->
        <source srcset="http://dummyimage.com/1600x533/707070, http://dummyimage.com/1600x533/707070&amp;text=3200+x+1066+(retina) 2x" media="(min-width: 1200px)">
        <source srcset="http://dummyimage.com/1200x400/707070, http://dummyimage.com/2400x800/707070&amp;text=2400+x+800+(retina) 2x" media="(min-width: 992px)">
        <source srcset="http://dummyimage.com/992x330/707070, http://dummyimage.com/1984x660/707070&amp;text=1984+x+660+(retina) 2x" media="(min-width: 768px)">
        <source srcset="http://dummyimage.com/768x256/707070, http://dummyimage.com/1536x512/707070&amp;text=1536+x+512+(retina) 2x" media="(min-width: 640px)">
        <source srcset="http://dummyimage.com/640x426/707070, http://dummyimage.com/1280x852/707070&amp;text=1280+x+852+(2x) 2x">
        <!--[if IE 9]></video><![endif]-->
        <img srcset="http://dummyimage.com/640x426/707070" alt="Hero Image">
      </picture>
      <div class="carousel-caption hidden-xs">
        <h2 class="text-left">Show Name</h2>
        <p class="text-left">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam a urna in nunc vulputate rhoncus sed nec sem. Maecenas aliquam at nibh id tempus. Sed consequat quam eget turpis ornare pretium. Fusce mattis egestas pulvinar. Pellentesque et gravida nibh. </p>
      </div> 
    </div>         
  </div>
  <a class="left carousel-control" href="#heroCarousel" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#heroCarousel" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div>
<div class="container content-list">
  <h4 class="inline-block">Featured Movies</h4>
  <h4 class="pull-right"><a href="#">See All <span class="glyphicon glyphicon-chevron-right"></span></a></h4>
  <div class="clearfix"></div>
  <div class="row">
    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6"><a href="#item"><img src="http://dummyimage.com/165x267/707070" alt="Item Image" /><h5 class="title">Movie Name</h5></a></div>
    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6"><a href="#item"><img src="http://dummyimage.com/165x267/707070" alt="Item Image" /><h5 class="title">Movie Name</h5></a></div>
    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6"><a href="#item"><img src="http://dummyimage.com/165x267/707070" alt="Item Image" /><h5 class="title">Movie Name</h5></a></div>
    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6"><a href="#item"><img src="http://dummyimage.com/165x267/707070" alt="Item Image" /><h5 class="title">Movie Name</h5></a></div>
    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6 hidden-xs"><a href="#item"><img src="http://dummyimage.com/165x267/707070" alt="Item Image" /><h5 class="title">Movie Name</h5></a></div>
    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6 hidden-xs"><a href="#item"><img src="http://dummyimage.com/165x267/707070" alt="Item Image" /><h5 class="title">Movie Name</h5></a></div>
  </div>      
  <h4 class="inline-block">Featured TV Shows</h4>
  <h4 class="pull-right"><a href="#">See All <span class="glyphicon glyphicon-chevron-right"></span></a></h4>
  <div class="clearfix"></div>
  <div class="row">
    <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12"><a href="#item"><img src="http://dummyimage.com/340x210/707070" alt="Item Image" /><h5 class="title">Show Name</h5></a></div>
    <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 hidden-xs"><a href="#item"><img src="http://dummyimage.com/340x210/707070" alt="Item Image" /><h5 class="title">Show Name</h5></a></div>
    <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 hidden-xs"><a href="#item"><img src="http://dummyimage.com/340x210/707070" alt="Item Image" /><h5 class="title">Show Name</h5></a></div>
    <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 hidden-xs hidden-sm"><a href="#item"><img src="http://dummyimage.com/340x210/707070" alt="Item Image" /><h5 class="title">Show Name</h5></a></div>
  </div>      
  <h4 class="inline-block">Favourite Channels</h4>
  <h4 class="pull-right"><a href="#">See All <span class="glyphicon glyphicon-chevron-right"></span></a></h4>
  <div class="clearfix"></div>
  <div class="row">
    <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12"><a href="#item"><img src="http://dummyimage.com/340x210/707070" alt="Item Image" /><h5 class="title">Channel Name</h5></a></div>
    <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 hidden-xs"><a href="#item"><img src="http://dummyimage.com/340x210/707070" alt="Item Image" /><h5 class="title">Channel Name</h5></a></div>
    <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 hidden-xs"><a href="#item"><img src="http://dummyimage.com/340x210/707070" alt="Item Image" /><h5 class="title">Channel Name</h5></a></div>
    <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 hidden-xs hidden-sm"><a href="#item"><img src="http://dummyimage.com/340x210/707070" alt="Item Image" /><h5 class="title">Channel Name</h5></a></div>
  </div>      
  <h4 class="inline-block">Last Watched</h4>
  <h4 class="pull-right"><a href="#">See All <span class="glyphicon glyphicon-chevron-right"></span></a></h4>
  <div class="clearfix"></div>
  <div class="row">
    <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12"><a href="#item"><img src="http://dummyimage.com/340x210/707070" alt="Item Image" /><h5 class="title">Show Name</h5></a></div>
    <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 hidden-xs"><a href="#item"><img src="http://dummyimage.com/340x210/707070" alt="Item Image" /><h5 class="title">Show Name</h5></a></div>
    <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 hidden-xs"><a href="#item"><img src="http://dummyimage.com/340x210/707070" alt="Item Image" /><h5 class="title">Show Name</h5></a></div>
    <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 hidden-xs hidden-sm"><a href="#item"><img src="http://dummyimage.com/340x210/707070" alt="Item Image" /><h5 class="title">Show Name</h5></a></div>
  </div>          
  <h4 class="inline-block">Last Updated Episodes</h4>
  <h4 class="pull-right"><a href="#">See All <span class="glyphicon glyphicon-chevron-right"></span></a></h4>
  <div class="clearfix"></div>
  <div class="row">
    <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12"><a href="#item"><img src="http://dummyimage.com/340x210/707070" alt="Item Image" /><h5 class="title">Show Name</h5></a></div>
    <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 hidden-xs"><a href="#item"><img src="http://dummyimage.com/340x210/707070" alt="Item Image" /><h5 class="title">Show Name</h5></a></div>
    <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 hidden-xs"><a href="#item"><img src="http://dummyimage.com/340x210/707070" alt="Item Image" /><h5 class="title">Show Name</h5></a></div>
    <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 hidden-xs hidden-sm"><a href="#item"><img src="http://dummyimage.com/340x210/707070" alt="Item Image" /><h5 class="title">Show Name</h5></a></div>
  </div>    
</div>