<div class="page-content item-view">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <picture>
          <!--[if IE 9]><video style="display: none;"><![endif]-->
          <source srcset="http://dummyimage.com/360x583/707070" media="(min-width: 1200px)">
          <source srcset="http://dummyimage.com/293x476/707070, http://dummyimage.com/586x952/707070&amp;text=586+x+952+(2x) 2x" media="(min-width: 992px)">
          <source srcset="http://dummyimage.com/720x455/707070" media="(min-width: 768px)">
          <source srcset="http://dummyimage.com/330x209/707070, http://dummyimage.com/660x418/707070&amp;text=660+x+418+(2x) 2x">
          <!--[if IE 9]></video><![endif]-->
          <img srcset="http://dummyimage.com/330x209/707070" alt="Item Image">
        </picture>
      </div>
      <div class="col-md-8">
        <div class="row">
          <div class="col-md-12"><h1>Item Title</h1></div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec porttitor ultrices ultricies. Pellentesque dolor purus, tempor id placerat vel, euismod sollicitudin turpis. Morbi et sagittis sem. Donec facilisis ultricies sem eu dapibus. Donec non elementum massa, sit amet lacinia purus. Phasellus rutrum neque eget neque fermentum vulputate. Curabitur tincidunt, sem eu iaculis varius, enim ipsum feugiat augue, eget mollis ante leo nec magna. Donec justo magna, fringilla id mi aliquam, scelerisque pellentesque sem. Mauris eu ultrices felis. Aliquam quis ipsum quis sem sagittis semper. Nam libero erat, condimentum vel dui eu, porttitor sodales lacus. Vestibulum ornare lectus a eros tincidunt eleifend. Nullam iaculis ipsum sit amet velit sagittis aliquet. Nulla placerat nibh vitae purus ornare vestibulum. Integer cursus tortor lacinia, sollicitudin ipsum quis, dictum urna. In non lorem diam. </p>
          </div>
        </div>
      </div>
    </div> 
  </div>
</div>